@model IEnumerable<CRUDOperations.Models.Products>
@{
    ViewBag.Title = "Product ViewAll";
}
<table class="table table-striped table-condensed" id="productTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryID)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProductName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CategoryID)
                </td>
                <td>
                    <a class="btn btn-primary btn-sm" onclick="Edit('@Url.Action("AddOrEdit", "Product", new { id=@item.ProductID})')"><i class="fa fa-pencil fa-lg"></i></a>
                    <a class="btn btn-danger btn-sm" onclick="Delete('@Url.Action("Delete", "Product", new { id=@item.ProductID})')"><i class="fa fa-trash fa-lg"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>